<div [ngClass]="{'wrapper' : currentUser}">   
    <app-header *ngIf="currentUser"></app-header>    
    <app-sidebar *ngIf="currentUser"></app-sidebar>
        <div [ngClass]="{'content-wrapper' : currentUser}">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Brand</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/addBrand/0">Add Brand</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">                        
                        <div class="card">                           
                            <div class="card-body">
                                <label>Search</label>
                                <input type="text" [(ngModel)]="searchTxt" class="form-control" name="searchTxt"
                                    placeholder="search name">
                                <div class="table-responsive table-striped">
                                    <table class="table" [mfData]="brandlist | search:searchTxt" #mf="mfDataTable"
                                        [mfRowsOnPage]="15">
                                        <thead>
                                            <tr>
                                                <th style="width:40%">
                                                    <mfDefaultSorter by="brandname">Brand Name</mfDefaultSorter>
                                                </th>
                                                <th style="width: 40%">
                                                    <mfDefaultSorter by="branddescription">Brand Description</mfDefaultSorter>
                                                </th>                                                
                                                <th colspan="2">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="mf.data?.length == 0">
                                                <td colspan="8" align="center">No Data Found</td>
                                            </tr>
                                            <tr *ngFor="let item of mf.data">
                                                <ng-container *ngIf="item == -1">
                                                    <td colspan="8" align="center">No Data Found</td>
                                                </ng-container>
                                                <ng-container *ngIf="item!=-1">
                                                    <th>{{ item.brandname}}</th>
                                                    <td>{{ item.branddescription}}</td>                                                    
                                                    <td><a style="cursor: pointer; color: #5858d6;"
                                                            (click)="editBrand(item._id)"><i
                                                                class="far fa-edit"></i></a>
                                                    </td>
                                                    <td>
                                                        <a style="cursor: pointer; color: #5858d6;"
                                                            mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                                            [popoverMessage]="popoverMessage" placement="left"
                                                            (confirm)="deleteBrand(item._id)"
                                                            (cancel)="cancelClicked = true">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]">
                                                    </mfBootstrapPaginator>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>  
                        </div>                       
                    </div>
                </div>                
            </div>            
        </div>
    </div>   
    <aside [ngClass]="{'control-sidebar control-sidebar-dark' : currentUser}">
        <!-- Control sidebar content goes here -->
    </aside>    
</div>