<nav _ngcontent-uea-c4="" class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul _ngcontent-uea-c4="" class="navbar-nav">
        <li _ngcontent-uea-c4="" class="nav-item"><a _ngcontent-uea-c4="" class="nav-link" data-widget="pushmenu"
                href="#"><i _ngcontent-uea-c4="" class="fas fa-bars"></i></a></li>
        <li _ngcontent-uea-c4="" class="nav-item d-none d-sm-inline-block"><a _ngcontent-uea-c4="" class="nav-link"
                href="index3.html">Home</a></li>
        <li _ngcontent-uea-c4="" class="nav-item d-none d-sm-inline-block"><a _ngcontent-uea-c4="" class="nav-link"
                href="#">Contact</a></li>
    </ul>
    <ul _ngcontent-uea-c4="" class="navbar-nav ml-auto">
        <li _ngcontent-uea-c4="" class="nav-item dropdown"><a _ngcontent-uea-c4="" class="nav-link"
                data-toggle="dropdown" href="#"><i _ngcontent-uea-c4="" class="far fa-comments"></i><span
                    _ngcontent-uea-c4="" class="badge badge-danger navbar-badge">3</span></a>
            <div _ngcontent-uea-c4="" class="dropdown-menu dropdown-menu-lg dropdown-menu-right"><a _ngcontent-uea-c4=""
                    class="dropdown-item" href="#">
                    <div _ngcontent-uea-c4="" class="media"><img _ngcontent-uea-c4="" alt="User Avatar"
                            class="img-size-50 mr-3 img-circle" src="">
                        <div _ngcontent-uea-c4="" class="media-body">
                            <h3 _ngcontent-uea-c4="" class="dropdown-item-title"> Brad Diesel <span _ngcontent-uea-c4=""
                                    class="float-right text-sm text-danger"><i _ngcontent-uea-c4=""
                                        class="fas fa-star"></i></span></h3>
                            <p _ngcontent-uea-c4="" class="text-sm">Call me whenever you can...</p>
                            <p _ngcontent-uea-c4="" class="text-sm text-muted"><i _ngcontent-uea-c4=""
                                    class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4="" class="dropdown-item"
                    href="#">
                    <div _ngcontent-uea-c4="" class="media"><img _ngcontent-uea-c4="" alt="User Avatar"
                            class="img-size-50 img-circle mr-3" src="">
                        <div _ngcontent-uea-c4="" class="media-body">
                            <h3 _ngcontent-uea-c4="" class="dropdown-item-title"> John Pierce <span _ngcontent-uea-c4=""
                                    class="float-right text-sm text-muted"><i _ngcontent-uea-c4=""
                                        class="fas fa-star"></i></span></h3>
                            <p _ngcontent-uea-c4="" class="text-sm">I got your message bro</p>
                            <p _ngcontent-uea-c4="" class="text-sm text-muted"><i _ngcontent-uea-c4=""
                                    class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4="" class="dropdown-item"
                    href="#">
                    <div _ngcontent-uea-c4="" class="media"><img _ngcontent-uea-c4="" alt="User Avatar"
                            class="img-size-50 img-circle mr-3" src="">
                        <div _ngcontent-uea-c4="" class="media-body">
                            <h3 _ngcontent-uea-c4="" class="dropdown-item-title"> Nora Silvester <span
                                    _ngcontent-uea-c4="" class="float-right text-sm text-warning"><i
                                        _ngcontent-uea-c4="" class="fas fa-star"></i></span></h3>
                            <p _ngcontent-uea-c4="" class="text-sm">The subject goes here</p>
                            <p _ngcontent-uea-c4="" class="text-sm text-muted"><i _ngcontent-uea-c4=""
                                    class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                </a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4=""
                    class="dropdown-item dropdown-footer" href="#">See All Messages</a>
            </div>
        </li>
        <li _ngcontent-uea-c4="" class="nav-item dropdown"><a _ngcontent-uea-c4="" class="nav-link"
                data-toggle="dropdown" href="#"><i _ngcontent-uea-c4="" class="far fa-bell"></i><span
                    _ngcontent-uea-c4="" class="badge badge-warning navbar-badge">15</span></a>
            <div _ngcontent-uea-c4="" class="dropdown-menu dropdown-menu-lg dropdown-menu-right"><span
                    _ngcontent-uea-c4="" class="dropdown-item dropdown-header">15 Notifications</span>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4="" class="dropdown-item"
                    href="#"><i _ngcontent-uea-c4="" class="fas fa-envelope mr-2"></i> 4 new messages <span
                        _ngcontent-uea-c4="" class="float-right text-muted text-sm">3 mins</span></a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4="" class="dropdown-item"
                    href="#"><i _ngcontent-uea-c4="" class="fas fa-users mr-2"></i> 8 friend requests <span
                        _ngcontent-uea-c4="" class="float-right text-muted text-sm">12 hours</span></a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4="" class="dropdown-item"
                    href="#"><i _ngcontent-uea-c4="" class="fas fa-file mr-2"></i> 3 new reports <span
                        _ngcontent-uea-c4="" class="float-right text-muted text-sm">2 days</span></a>
                <div _ngcontent-uea-c4="" class="dropdown-divider"></div><a _ngcontent-uea-c4=""
                    class="dropdown-item dropdown-footer" href="#">See All Notifications</a>
            </div>
        </li>

        <li _ngcontent-uea-c4="" class="nav-item dropdown"><a _ngcontent-uea-c4="" class="nav-link"
            data-toggle="dropdown" href="#"><i _ngcontent-uea-c4="" class="fas fa-th-large"></i><span
                _ngcontent-uea-c4="" class="badge badge-warning navbar-badge"></span></a>
        <div _ngcontent-uea-c4="" class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <div _ngcontent-uea-c4="" class="dropdown-divider"></div>
            <a _ngcontent-uea-c4="" class="dropdown-item" [routerLink]="" (click)="logOut()">
                <i _ngcontent-uea-c4="" class="fas fa-users mr-3"></i>Log Out</a>
                           
        </div>
    </li>

        <!-- <li _ngcontent-uea-c4="" class="nav-item"><a _ngcontent-uea-c4="" class="nav-link" data-slide="true"
                data-widget="control-sidebar" href="#"><i _ngcontent-uea-c4="" class="fas fa-th-large"></i></a></li> -->
    </ul>
</nav>